@layer reset,
base,
styles;

@font-face {
  font-family: "Outfit";
  src: url(fonts/Outfit-VariableFont_wght.ttf);
}

:root {
  --mobile-width: calc(375em / 16);
  --desktop-width: calc(1440em / 16);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --font-normal: 400;
  --font-bold: 700;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;

    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
}

@layer base {
  body {
    min-height: 100vh;
    font-family: Outfit;
    font-size: calc(15em / 16);
    background-color: var(--light-gray);
    display: grid;
    place-items: center;
    padding: 1em;
  }
}

@layer styles {
  .card {
    --card-border-radius: 1.3em;
    --card-padding: 1.1em;

    width: 100%;
    max-width: 350px;
    background-color: var(--white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);

    text-align: center;
  }

  .card__img {
    border-radius: calc(
      var(--card-border-radius) - calc(var(--card-padding) / 2)
    );
  }

  .card__title-and-description {
    padding: 1.5em 1.3em;
    display: flex;
    flex-direction: column;
    gap: 1.03em;
  }

  .card__title {
    font-size: 1.5em;
    color: var(--grayish-blue);
    filter: brightness(40%);
  }

  .card__description {
    color: var(--grayish-blue);
  }

  .attribution {
    font-size: 11px;
    text-align: center;

    position: fixed;
    bottom: 1em;
    width: 100%;

    opacity: 0.7;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
